footer,
header {
  clear: both;
}

main {
  width: auto;
}
div.about {
  line-height: 2;
  font-size: 20px;
  height: 30%;
  width: 100%;
}

div.about p {
  text-align: justify;
}

div.about h2 {
  color: white;
}
